body
{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,  'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

    height: 30000px;
}

*
{
    margin: 0;
    padding: 0;
}

ul,
ol
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: #333;
}

a:hover
{
    color: #666;
}

a:active
{
    color: red;
}

.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}

header,
article,
section
{
    display: block;
}

div.splash
{
    position: fixed;
    z-index: 200;

    width: 100%;
    height: 100%;

    background: #fff url('../images/loading.png') center center no-repeat;
    background-size: 30% auto;
}

header#site-title
{
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;
    margin: 0 auto;
}

header#site-title h1#title
{
    margin: 0 auto;

    background: url('../images/title.png') center center no-repeat;
    background-size: 100% auto;
}

header#site-title h1#title span
{
    display: none;
}

nav#global-nav-floated
{
    position: fixed;
    z-index: 20;
    top: -100px;

    width: 100%;

    background: white;
}

nav#global-nav-floated h1#title-floated
{
    float: left;
}

nav#global-nav-floated h1#title-floated a img
{
    width: 240px;
    height: 50px;
    padding: 5px 10px;
}

nav#global-nav-floated ul
{
    float: left;

    height: 70px;
    margin: 0 0 0 20px;

    text-align: center;
}

nav#global-nav-floated ul li
{
    float: left;

    height: 100%;

    color: #00b3ef;
}

nav#global-nav-floated ul li a
{
    display: block;

    height: 100%;
    margin: 0;
    padding: 0;
}

nav#global-nav-floated ul li a img
{
    height: 35px;
    margin: 0;
    padding: 17px 13px;
}

nav#global-nav-floated ul li a:hover
{
    background: rgba(0,179,239,.15);
}

div#goTop
{
    position: fixed;
    z-index: 21;
}

div#goTop a
{
    display: block;

    width: 70px;
    height: 70px;

    background: transparent url(../images/top.png) center center no-repeat;
}

div#goTop span
{
    display: none;
    visibility: hidden;
}

section
{
    position: fixed;

    width: 100%;
    margin: 0 auto;
    padding: 0;
}

section#about
{
    z-index: 2;

    color: white;
    background: #00b3ef;
}

section#member
{
    z-index: 3;

    color: #00b3ef;
    background: white;
}

section#concert
{
    z-index: 4;

    color: white;
    background: #00b3ef;
}

section#contact
{
    z-index: 5;

    color: #00b3ef;
    background: white;
}

section div.section-wrap
{
    margin: 0 auto;
}

section#about header
{
    background: url('../images/sub-title/about.png') center center no-repeat;
}

section#member header
{
    background: url('../images/sub-title/member.png') center center no-repeat;
}

section#concert header
{
    background: url('../images/sub-title/concert.png') center center no-repeat;
}

section#contact header
{
    background: url('../images/sub-title/contact.png') center center no-repeat;
}

section header *
{
    display: none;
    visibility: hidden;
}

section div.content
{
    position: relative;
    z-index: 10;
}

section div.content div.content-wrap
{
    position: relative;

    padding: 20px;
}

section div.content p
{
    line-height: 24px;

    padding: 15px;
}

section div.content p + p
{
    padding: 0 15px 15px;
}

section div.content span
{
    padding: 15px;
}

section div.content span.member-data
{
    display: inline-block;

    padding: 5px 15px 15px;
}

section div.content h2
{
    font-weight: normal;

    padding: 20px 0 0 15px;
}

section div.content img
{
    max-width: 100%;
}

section div.content p img
{
    display: block;

    width: 90%;
    margin: 0 auto;
}

section div.content ul.member-photo li
{
    float: left;

    width: 100px;
    height: 100px;
    margin: 10px;

    opacity: .7;
    border-radius: 50px;
    background-position: center center;
    background-size: auto 100%;
}

section div.content ul.member-photo li:hover
{
    cursor: pointer;

    opacity: 1;
}

section div.content ul.member-photo li span
{
    display: none;
    visibility: hidden;
}

section div.content ul.concert-list
{
    padding: 15px;
}

section div.content ul.concert-list li
{
    padding: 5px 0;
}

section div.content ul.concert-list li a
{
    display: block;
}

section div.content ul.concert-list li a img
{
    display: block;

    width: 100%;
}

section div.content ul.concert-list li a:hover
{
    background: rgba(255,255,255,.1);
}

section div.content dl.contact-list
{
    padding: 15px;
}

section div.content dl.contact-list address
{
    font-style: normal;
}

section div.content dl.contact-list span.domain
{
    padding: 0;
}

section div.content dl.contact-list span.domain:before
{
    padding: 0 3px;

    content: '@';
}

section div.content div.fb-like-box
{
    overflow: hidden;

    width: 90%;
    height: 240px;
}

section div.content div.tw-tweet-box
{
    overflow: hidden;

    width: 90%;
    height: 420px;
    padding: 20px;
}

footer
{
    display: block;

    width: 920px;
    padding: 20px;

    background: #eee;
}

footer div#nav-wrap
{
    padding: 10px 0 50px;
}

footer div#nav-wrap nav#footer-nav ul li
{
    float: left;

    margin: 0 5px;
}

footer div#nav-wrap nav#footer-nav ul li a
{
    display: block;

    padding: 5px 10px;
}

footer div#nav-wrap p small
{
    float: right;

    padding: 10px;
}

@media screen and (min-width: 600px)
{

    header#site-title h1#title
    {
        width: 480px;
        height: 70%;
        max-height: 480px;
    }

    header nav#global-nav
    {
        height: 50px;
    }

    header nav#global-nav ul
    {
        position: fixed;
        z-index: 30;

        width: 100%;

        text-align: center;
    }

    header nav#global-nav ul li
    {
        display: inline-block;

        margin: 0 5px;
    }

    header nav#global-nav ul li a
    {
        display: block;

        height: 50px;
    }

    header nav#global-nav ul li a.gnav-about
    {
        width: 128px;

        background: transparent url('../images/gnav/about.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-member
    {
        width: 160px;

        background: transparent url('../images/gnav/member.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-concert
    {
        width: 152px;

        background: transparent url('../images/gnav/concert.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-blog
    {
        width: 104px;

        background: transparent url('../images/gnav/blog.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-contact
    {
        width: 152px;

        background: transparent url('../images/gnav/contact.png') center center no-repeat;
    }

    header nav#global-nav ul li a span
    {
        display: none;
        visibility: hidden;
    }

    section div.section-wrap
    {
        max-width: 960px;
    }

    section header
    {
        float: left;

        width: 40%;
        min-width: 300px;
        min-height: 150px;

        text-align: center;
    }

    section div.content
    {
        width: 60%;
        min-width: 450px;
        margin: 0 0 0 40%;
    }

    section div.content dl.contact-list dt
    {
        float: left;

        width: 150px;
        height: 30px;
    }

    section div.content dl.contact-list dd
    {
        height: 30px;
    }
}

@media screen and (max-width: 600px)
{

    header#site-title h1#title
    {
        width: 80%;
        height: 100%;
    }

    header nav#global-nav
    {
        display: none;
    }

    nav#global-nav-floated h1#title-floated
    {
        float: none;

        width: 164px;
        margin: 0 auto;
    }

    nav#global-nav-floated h1#title-floated a img
    {
        width: 144px;
        height: 30px;
        padding: 5px 10px;
    }

    nav#global-nav-floated ul
    {
        display: none;
    }

    div#goTop
    {
        display: none;
    }

    section div.section-wrap
    {
        width: 100%;
    }

    section#about header,
section#concert header
    {
        background-color: rgba(0,179,239,.8);
        background-position: center center;
        background-size: auto 100%;
    }

    section#member header,
section#contact header
    {
        background-color: rgba(255,255,255,.8);
        background-position: center center;
        background-size: auto 100%;
    }

    section header
    {
        position: absolute;
        z-index: 100;

        width: 100%;
        height: 75px;
    }

    section div.content
    {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 0;
    }

    section div.content dl.contact-list dt
    {
        padding: 0 0 5px;
    }

    section div.content dl.contact-list dd
    {
        padding: 0 0 15px;
    }
}
