body
{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,  'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

    height: 30000px;
}

*
{
    margin: 0;
    padding: 0;
}

ul,
ol
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: #333;
}

a:hover
{
    color: #666;
}

a:active
{
    color: red;
}

.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}

header,
article,
section
{
    display: block;
}

div.splash
{
    position: fixed;
    z-index: 200;

    width: 100%;
    height: 100%;

    background: #fff url('../images/loading.png') center center no-repeat;
    background-size: 30% auto;
}

header#site-title
{
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;
    margin: 0 auto;
}

header#site-title h1#title
{
    margin: 0 auto;

    background: url('../images/title.png') center center no-repeat;
    background-size: 100% auto;
}

header#site-title h1#title span
{
    display: none;
}

nav#global-nav-floated
{
    position: fixed;
    z-index: 20;
    top: -100px;

    width: 100%;

    background: white;
}

nav#global-nav-floated h1#title-floated
{
    float: left;
}

nav#global-nav-floated h1#title-floated a img
{
    width: 240px;
    height: 50px;
    padding: 5px 10px;
}

nav#global-nav-floated ul
{
    float: left;

    height: 70px;
    margin: 0 0 0 20px;

    text-align: center;
}

nav#global-nav-floated ul li
{
    float: left;

    height: 100%;

    color: #00b3ef;
}

nav#global-nav-floated ul li a
{
    display: block;

    height: 100%;
    margin: 0;
    padding: 0;
}

nav#global-nav-floated ul li a img
{
    height: 35px;
    margin: 0;
    padding: 17px 13px;
}

nav#global-nav-floated ul li a:hover
{
    background: rgba(0,179,239,.15);
}

div#goTop
{
    position: fixed;
    z-index: 21;
}

div#goTop a
{
    display: block;

    width: 70px;
    height: 70px;

    background: transparent url(../images/top.png) center center no-repeat;
}

div#goTop span
{
    display: none;
    visibility: hidden;
}

div.popup
{
    position: fixed;
    z-index: 100;

    display: none;

    width: 100%;
    height: 100%;
}

div.popup div.popup-content
{
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;

    width: 70vw;
    height: 60vh;
    margin: -30vh -35vw;

    border-radius: 10px;
    background: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
}

div.popup div.popup-content div.popup-wrap
{
    padding: 10px;
}

div.popup div.popup-content div.popup-wrap img.popup-photo
{
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

div.popup div.popup-content div.popup-next,
div.popup div.popup-content div.popup-prev
{
    position: absolute;
    top: 50%;

    width: 60px;
    height: 60px;
    margin: -30px 0 0;

    opacity: .7;
    border-radius: 30px;
    background: black;
}

div.popup div.popup-content div.popup-next:hover,
div.popup div.popup-content div.popup-prev:hover
{
    cursor: pointer;

    opacity: .9;
}

div.popup div.popup-content div.popup-next:after,
div.popup div.popup-content div.popup-prev:after
{
    font-size: 1em;
    line-height: 60px;

    position: absolute;

    display: block;

    width: 60px;
    height: 60px;

    text-align: center;

    color: white;
}

div.popup div.popup-content div.popup-next
{
    right: 30px;
}

div.popup div.popup-content div.popup-next:after
{
    padding: 0 0 0 1px;

    content: '▶';
}

div.popup div.popup-content div.popup-prev
{
    left: 30px;
}

div.popup div.popup-content div.popup-prev:after
{
    padding: 0 1px 0 0;

    content: '◀';
}

div.popup div.popup-content div.popup-close
{
    position: absolute;
    top: -33px;
    right: -33px;

    width: 60px;
    height: 60px;

    border: 3px solid white;
    border-radius: 33px;
    background: #f33;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
}

div.popup div.popup-content div.popup-close:hover
{
    cursor: pointer;

    background: #f00;
}

div.popup div.popup-content div.popup-close:after
{
    font-size: 2em;
    line-height: 60px;

    position: absolute;

    display: block;

    width: 60px;
    height: 60px;

    content: '×';
    text-align: center;

    color: white;
}

div.popup div.popup-shadow
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
}

section
{
    position: fixed;

    width: 100%;
    margin: 0 auto;
    padding: 0;
}

section#about
{
    z-index: 2;

    color: white;
    background: #00b3ef;
}

section#member
{
    z-index: 3;

    color: #00b3ef;
    background: white;
}

section#concert
{
    z-index: 4;

    color: white;
    background: #00b3ef;
}

section#contact
{
    z-index: 5;

    color: #00b3ef;
    background: white;
}

section div.section-wrap
{
    margin: 0 auto;
}

section#about header
{
    background: url('../images/sub-title/about.png') center center no-repeat;
}

section#member header
{
    background: url('../images/sub-title/member.png') center center no-repeat;
}

section#concert header
{
    background: url('../images/sub-title/concert.png') center center no-repeat;
}

section#contact header
{
    background: url('../images/sub-title/contact.png') center center no-repeat;
}

section header *
{
    display: none;
    visibility: hidden;
}

section div.content
{
    position: relative;
    z-index: 10;
}

section div.content div.content-wrap
{
    position: relative;

    padding: 20px;
}

section div.content p
{
    line-height: 24px;

    padding: 15px;
}

section div.content p + p
{
    padding: 0 15px 15px;
}

section div.content span
{
    padding: 15px;
}

section div.content span.member-data
{
    display: inline-block;

    padding: 5px 15px 15px;
}

section div.content h2
{
    font-weight: normal;

    padding: 20px 0 0 15px;
}

section div.content img
{
    max-width: 100%;
}

section div.content p img
{
    display: block;

    width: 90%;
    margin: 0 auto;
}

section div.content ul.member-photo
{
    padding: 100px 0 0;
}

section div.content ul.member-photo li
{
    float: left;

    opacity: .7;
}

section div.content ul.member-photo li:hover
{
    cursor: pointer;

    opacity: 1;
}

section div.content ul.member-photo li span
{
    display: none;
    visibility: hidden;
}

section div.content ul.concert-list
{
    padding: 15px;
}

section div.content ul.concert-list li
{
    padding: 5px 0;
}

section div.content ul.concert-list li a
{
    display: block;
}

section div.content ul.concert-list li a img
{
    display: block;

    width: 100%;
}

section div.content ul.concert-list li a:hover
{
    background: rgba(255,255,255,.1);
}

section div.content dl.contact-list
{
    padding: 15px;
}

section div.content dl.contact-list address
{
    font-style: normal;
}

section div.content dl.contact-list span.domain
{
    padding: 0;
}

section div.content dl.contact-list span.domain:before
{
    padding: 0 3px;

    content: '@';
}

section div.content div.fb-like-box
{
    overflow: hidden;

    width: 90%;
    height: 240px;
}

section div.content div.tw-tweet-box
{
    overflow: hidden;

    width: 90%;
    height: 420px;
    padding: 20px;
}

footer
{
    display: block;

    width: 920px;
    padding: 20px;

    background: #eee;
}

footer div#nav-wrap
{
    padding: 10px 0 50px;
}

footer div#nav-wrap nav#footer-nav ul li
{
    float: left;

    margin: 0 5px;
}

footer div#nav-wrap nav#footer-nav ul li a
{
    display: block;

    padding: 5px 10px;
}

footer div#nav-wrap p small
{
    float: right;

    padding: 10px;
}

@media screen and (min-width: 600px)
{

    header#site-title h1#title
    {
        width: 480px;
        height: 70%;
        max-height: 480px;
    }

    header nav#global-nav
    {
        height: 50px;
    }

    header nav#global-nav ul
    {
        position: fixed;
        z-index: 30;

        width: 100%;

        text-align: center;
    }

    header nav#global-nav ul li
    {
        display: inline-block;

        margin: 0 5px;
    }

    header nav#global-nav ul li a
    {
        display: block;

        height: 50px;
    }

    header nav#global-nav ul li a.gnav-about
    {
        width: 128px;

        background: transparent url('../images/gnav/about.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-member
    {
        width: 160px;

        background: transparent url('../images/gnav/member.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-concert
    {
        width: 152px;

        background: transparent url('../images/gnav/concert.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-blog
    {
        width: 104px;

        background: transparent url('../images/gnav/blog.png') center center no-repeat;
    }

    header nav#global-nav ul li a.gnav-contact
    {
        width: 152px;

        background: transparent url('../images/gnav/contact.png') center center no-repeat;
    }

    header nav#global-nav ul li a span
    {
        display: none;
        visibility: hidden;
    }

    nav#global-nav-floated
    {
        min-width: 900px;
    }

    section div.section-wrap
    {
        min-width: 800px;
        max-width: 960px;
    }

    section header
    {
        top: 50px;

        float: left;

        width: 40%;
        min-width: 300px;
        min-height: 150px;

        text-align: center;
    }

    section div.content
    {
        width: 60%;
        min-width: 450px;
        margin: 0 0 0 40%;
    }

    section div.content ul.member-photo
    {
        width: 167%;
        min-width: 450px;
        margin: 0 0 0 -67%;
    }

    section div.content ul.member-photo li
    {
        width: 30%;
        height: auto;
        margin: 5px 1%;
    }

    section div.content dl.contact-list dt
    {
        float: left;

        width: 150px;
        height: 30px;
    }

    section div.content dl.contact-list dd
    {
        height: 30px;
    }
}

@media screen and (max-width: 600px)
{

    header#site-title h1#title
    {
        width: 80%;
        height: 100%;
    }

    header nav#global-nav
    {
        display: none;
    }

    nav#global-nav-floated h1#title-floated
    {
        float: none;

        width: 164px;
        margin: 0 auto;
    }

    nav#global-nav-floated h1#title-floated a img
    {
        width: 144px;
        height: 30px;
        padding: 5px 10px;
    }

    nav#global-nav-floated ul
    {
        display: none;
    }

    div#goTop
    {
        display: none;
    }

    div.popup div.popup-content div.popup-wrap
    {
        padding: 5px;
    }

    div.popup div.popup-content div.popup-next,
div.popup div.popup-content div.popup-prev
    {
        width: 30px;
        height: 30px;
        margin: -15px 0 0;

        border-radius: 15px;
    }

    div.popup div.popup-content div.popup-next:after,
div.popup div.popup-content div.popup-prev:after
    {
        font-size: .8em;
        line-height: 30px;

        width: 30px;
        height: 30px;
    }

    div.popup div.popup-content div.popup-next
    {
        right: 10px;
    }

    div.popup div.popup-content div.popup-prev
    {
        left: 10px;
    }

    div.popup div.popup-content div.popup-close
    {
        top: -16px;
        right: -16px;

        width: 30px;
        height: 30px;

        border: 1px solid white;
        border-radius: 16px;
    }

    div.popup div.popup-content div.popup-close:after
    {
        font-size: 1.5em;
        line-height: 30px;

        width: 30px;
        height: 30px;
    }

    section div.section-wrap
    {
        width: 100%;
    }

    section#about header,
section#concert header
    {
        background-color: rgba(0,179,239,.8);
        background-position: center center;
        background-size: auto 100%;
    }

    section#member header,
section#contact header
    {
        background-color: rgba(255,255,255,.8);
        background-position: center center;
        background-size: auto 100%;
    }

    section header
    {
        position: relative;
        z-index: 100;
        top: 9px;

        width: 100%;
        height: 65px;
        padding: 5px 0;
    }

    section div.content
    {
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 0;
    }

    section div.content ul.member-photo
    {
        width: 90vw;
        margin: 0 auto;
    }

    section div.content ul.member-photo li
    {
        width: 46%;
        height: auto;
        margin: 5px 2%;
    }

    section div.content dl.contact-list dt
    {
        padding: 0 0 5px;
    }

    section div.content dl.contact-list dd
    {
        padding: 0 0 15px;
    }
}
