html {
}

body {
  height: 30000px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,  'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #666;
  }
  &:active {
    color: red;
  }
}


.clearfix:after {
  content: '';
  clear: both;
  display: block;
}


header, article, section {
  display: block;
}



/* ----- splash ----- */

div.splash {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: white url("../images/loading.png") center center no-repeat;
  background-size: 30% auto;
}


/* ----- header ----- */


header#site-title {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1;

  h1#title {
    background: url("../images/title.png") center center no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    @media screen and (min-width: 600px) {
      width: 480px;
      height: 70%;
      max-height: 480px;
    }
    @media screen and (max-width: 600px) {
      width: 80%;
      height: 100%;
    }
    span {
      display: none;
    }
  }
}


header nav#global-nav {
  @media screen and (min-width: 600px) {
    height: 50px;
    ul {
      position: fixed;
      z-index: 30;
      width: 100%;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 5px;

        a {
          display: block;
          height: 50px;

          &.gnav-about {
            width: 128px;
            background: transparent url('../images/gnav/about.png') center center no-repeat;
          }
          &.gnav-member {
            width: 160px;
            background: transparent url('../images/gnav/member.png') center center no-repeat;
          }
          &.gnav-concert {
            width: 152px;
            background: transparent url('../images/gnav/concert.png') center center no-repeat;
          }
          &.gnav-blog {
            width: 104px;
            background: transparent url('../images/gnav/blog.png') center center no-repeat;
          }
          &.gnav-contact {
            width: 152px;
            background: transparent url('../images/gnav/contact.png') center center no-repeat;
          }

          span {
            display: none;
            visibility: hidden;
          }
        }

      }

    }

  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}






nav#global-nav-floated {
  position: fixed;
  z-index: 20;
  top: -100px;
  background: white;
  width: 100%;
  h1#title-floated {
    float: left;
    a img {
      height: 50px;
      width: 240px;
      padding: 5px 10px;
    }
    @media screen and (max-width: 600px) {
      float: none;
      width: 164px;
      margin: 0 auto;
      a img {
        height: 30px;
        width: 144px;
        padding: 5px 10px;
      }
    }
  }
  ul {
    height: 70px;
    text-align: center;
    float: left;
    margin: 0 0 0 20px;
    @media screen and (max-width: 600px) {
      display: none;
    }
    li {
      float: left;
      height: 100%;
      color: #00B3EF;
      a {
        display: block;
        height: 100%;
        padding: 0;
        margin: 0;
        img {
          height: 35px;
          padding: 17px 13px;
          margin: 0;
        }
      }
      a:hover {
        background: rgba(0, 179, 239, 0.15);
      }
    }
  }

}


div#goTop {
  @media screen and (max-width: 600px) {
    display: none;
  }
  position: fixed;
  z-index: 21;
  a {
    display: block;
    width: 70px;
    height: 70px;
    background: transparent url(../images/top.png) center center no-repeat;
  }
  span {
    display: none;
    visibility: hidden;
  }

}


/* ----- main ----- */

article#main {

}

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: fixed;

  &#about {
    color: white;
    background: #00B3EF;
    z-index: 2;
  }
  &#member {
    color: #00B3EF;
    background: white;
    z-index: 3;
  }
  &#concert {
    color: white;
    background: #00B3EF;
    z-index: 4;
  }
  &#contact {
    color: #00B3EF;
    background: white;
    z-index: 5;
  }

  div.section-wrap {
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    @media screen and (min-width: 600px) {
      max-width: 960px;
    }
  }


  &#about header {
    background: url('../images/sub-title/about.png') center center no-repeat;
  }
  &#member header {
    background: url('../images/sub-title/member.png') center center no-repeat;
  }
  &#concert header {
    background: url('../images/sub-title/concert.png') center center no-repeat;
  }
  &#contact header {
    background: url('../images/sub-title/contact.png') center center no-repeat;
  }

  @media screen and (max-width: 600px) {
    &#about header, &#concert header {
      background-position: center center;
      background-size: auto 100%;
      background-color: rgba(0, 179, 239, 0.8);
    }
    &#member header, &#contact header {
      background-position: center center;
      background-size: auto 100%;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  header {
    @media screen and (max-width: 600px) {
      width: 100%;
      height: 75px;
      position: absolute;
      z-index: 100;
    }
    @media screen and (min-width: 600px) {
      float: left;
      width: 40%;
      min-width: 300px;
      min-height: 150px;
      text-align: center;
    }
    * {
      display: none;
      visibility: hidden;
    }
  }


  div.content {
    position: relative;
    z-index: 10;
    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 100px 0 0;
      margin: 0 auto;
    }
    @media screen and (min-width: 600px) {
      width: 60%;
      min-width: 450px;
      margin: 0 0 0 40%;
    }
    div.content-wrap {
      position: relative;
      padding: 20px;
    }

    p {
      padding: 15px;
      line-height: 24px;
    }
    p+p {
      padding: 0 15px 15px;
    }
    span {
      padding: 15px;
      &.member-data {
        display: inline-block;
        padding: 5px 15px 15px;
      }
    }
    h2 {
      font-weight: normal;
      padding: 20px 0 0 15px;
    }
    img {
      max-width: 100%;
    }
    p img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }

    ul.member-photo li {
      float: left;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-size: auto 100%;
      background-position: center center;
      margin: 10px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      span {
        display: none;
        visibility: hidden;
      }
    }

    ul.concert-list{
      padding: 15px;
      li {
        padding: 5px 0;
        a {
          display: block;
          img {
            display: block;
            width: 100%;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }

    dl.contact-list {
      padding: 15px;
      @media screen and (max-width: 600px) {
        dt {
          padding: 0 0 5px;
        }
        dd {
          padding: 0 0 15px;
        }
      }
      @media screen and (min-width: 600px) {
        dt {
          height: 30px;
          width: 150px;
          float: left;
        }
        dd {
          height: 30px;
        }
      }
      address {
        font-style: normal;
      }
      span.domain {
        padding: 0;
        &:before {
          content: "@";
          padding: 0 3px;
        }
      }
    }

    div.fb-like-box {
      width: 90%;
      height: 240px;
      overflow: hidden;
    }

    div.tw-tweet-box {
      width: 90%;
      height: 420px;
      padding: 20px;
      overflow: hidden;
    }
  }

}

/* ----- footer ----- */


footer {
  display: block;
  width: 920px;
  padding: 20px;
  background: #eee;

  div#nav-wrap {
    padding: 10px 0 50px;
    nav#footer-nav ul li {
      float: left;
      margin: 0 5px;
      a {
        display: block;
        padding: 5px 10px;
      }
    }
    p small {
      float: right;
      padding: 10px;
    }
  }
}
